<div class="container">
  <div class="row mb-4">
    <div class="col-md-6">
      <label for="message">Text:</label>
      <textarea id="message" name="message" class="form-control" rows="4" cols="50" [(ngModel)]="message"></textarea>
      <button class="btn btn-primary mt-2" (click)="removeSpaces()">Remove Extra Space</button>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-6">
      <label for="converted-message">Converted Text:</label>
      <textarea id="converted-message" name="converted-message" class="form-control" rows="4" cols="50" [(ngModel)]="convertedMessage"></textarea>
    </div>
  </div>
</div>
